.di {
  display: initial !important;
}

.dn {
  display: none !important;
}

.db {
  display: block !important;
}

.dib {
  display: inline-block !important;
}

.upper {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.tracked {
  letter-spacing: 2px;
}

.tracked-x2 {
  letter-spacing: 4px;
}

.center-txt {
  text-align: center;
}

.justify-txt {
  text-align: justify;
}

.line-1_5 {
  line-height: 1.5;
}

.line-2 {
  line-height: 2;
}

.bold-txt {
  font-weight: bold;
}

.gray {
  color: gray;
}

.black {
  color: black;
}

.white {
  color: white;
}

.bg-black {
  background: black;
}

.bg-lightgray {
  background: lightgray;
}

.bg-brightgray {
  background: #f1f1f1;
}

.bg-white {
  background: white;
}

.bg-trans {
  background: transparent;
}

.black-bg-style {
  background: black;
  color: white;
}

.container-large {
  max-width: 1100px;
  margin: 10px auto;
}

.container {
  max-width: 960px;
  margin: 10px auto;
}

/* Navigation */

.temp-nav {
  position: fixed;
  top: 50%;
  right: 0;
  left: unset;
  padding: 0 !important;
  background: black;
  opacity: 0.5;
  box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.6);
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  z-index: 1000 !important;
  transition: 0.5s ease-in-out all;
}

div.temp-nav-options {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateX(100%);
  width: 300px !important;
  background: black;
  z-index: 1000;
  transition: 0.5s ease-in-out all;
}

div.temp-nav-options a {
  display: block;
  margin: 10px 5px;
  padding: 10px !important;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  color: white;
}

div.temp-nav-options a:hover {
  background: white;
  color: black;
}

.temp-nav i {
  color: white;
  padding: 10px;
  margin: 5px;
  font-size: 20px;
}

.temp-nav:hover {
  cursor: pointer;
  transform: scale(1.10);
  opacity: 1;
}

/* Media */

@media(max-width: 650px) {
  .container-large {
    max-width: 100%;
  }
}

@media(max-width:410px) {
  .justify {
    text-align: left;
  }
}