* {
  font-family: Helvetica, sans-serif;   
}

header {
  position: relative;
  top: -8px;
  left: -8px;
  background-image: url("../images/architect.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

header nav {
  background: white;
  box-shadow: 3px 4px 3px rgba(0,0,0,0.4);
  padding: 18px;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 8px 16px;
  font-size: 16px;
}

header a span {
  font-weight: bold;
}

header a:hover {
  background: lightgray;
}

nav div {
  margin-top: 7px;
}

.home-nav {
  padding: 5px 10px!important;
}

.home-nav:hover {
  background: transparent!important;
  border-bottom: 2px solid lightgray;
}

div.title {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-55%,-55%);
  opacity: 0.95;
}

div.title h1, div.title span {
  float: left;
  color: white;
  font-weight: 500;
  font-size: 2.3em;
  padding: 8px 15px;
}

div.title h1 {
  margin: 0;
}

div.title span {
  font-weight: bold;
  background: #222;
  padding: 8px 15px;
  opacity: 0.95;
}

@media(max-width: 690px) {
  nav>div, div.title h1 {
    display: none;
  }
}
