* {
    font-family: Helvetica, sans-serif;
}

body {
    background: #f1f1f1;
}

h1 {
    font-weight: 400;
}

h3 {
    font-size: 16px;
    font-weight: 300;
}

header {
    padding: 20px 20px 40px;
    text-align: center;
}

.by-span {
    padding: 2px 8px;
}

.blog-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 32px;
    width: 100%;
    margin: auto 32px;
}

.blog-container {
    position: relative;
    margin-bottom: 32px;
}

.card-shadow {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.blog-title, .blog-title-desc {
    margin-left: 15px;
}

.blog-title-desc {
    font-weight: 300;
    font-size: 18px;
}

.blog-preview {
    width: 80%;
    margin-left: 15px;
    margin-right: auto;
    font-weight: 300;
}

.blog-img {
    width: 100%;
    height: auto;
}

.read-more {
    padding: 15px;
    margin: 15px;
    font-size: 16px;
    font-weight: 300;
}

.read-more:hover {
    cursor: pointer;
    background: lightgray;
}

.comments {
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/* Aside */
.blog-aside{
    display: grid;
    grid-template-rows: 35% 20% 15%;
    grid-row-gap: 25px;
    margin-right: 55px;
}

.name-container {
    padding-bottom: 10px;
}

.author {
    font-weight: 400;
}

.aside-card {
    padding: 8px 20px;
}

.card-title {
    font-weight: 400;
}