* {
  font-family: Helvetica;
  margin: 0;
}

.list-display {
  display: list-item;
}

header {
  background-image: url("../images/parallax1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  opacity: 0.75;
}

header h1 {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: black;
  color: white;
  padding: 12px 24px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 10px;
  font-weight: 400;
  font-size: 24px;
}

h1.mobile {
  display: none;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
nav a {
  display: inline-block;
  border: none;
  outline: none;
  padding: 16px;
  font-size: 16px;
  color: #8c8c8d;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:not(.search):hover {
  background: lightgray;
  color: black;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.5);
}

nav a.search {
  float: right;
}

nav a.search:hover {
  background: orangered;
  color: white;
}

nav i {
  margin-right: 3px;
}

.mobile-nav {
  display: none;
}
i.fa-bars, i.fa-times {
  position: absolute;
  right: 0;
  top: 13px;
  font-size: 1.5em;
}

i.fa-bars:hover, i.fa-times {
  cursor: pointer;
}

.mobile-nav li {
  list-style: none;
}
.mobile-nav li:not(.home){
  background: white;
}

.mobile-nav a {
  width: 100%;
}

.mobile-nav a:not([href = "#home"]) {
  color: black !important;
}

.mobile-nav a.search {
  float: none;
  background: white;
}

section {
  color: #777;
  padding: 40px 0;
  line-height: 1.8;
}

section#about h1, section#about p.sub-about {
  text-align: center;
}

section#about h1 {
  padding: 20px 0;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
}

section#about p.sub-about {
  font-size: 14px;
  padding-bottom: 20px;
}

section#about .paragraph-container {
  flex-direction: column;
  max-width: 980px;
  padding-bottom: 40px;
  margin: auto;
  font-size: 15px;
}

.paragraph-container p {
  margin: 15px;
}

section#about .profile-desc {
  max-width: 980px;
  margin: auto;
  font-size: 15px;
}

section#about .profile-desc img {
  width: 100%;
  height: auto;
  opacity: 0.75;
}

section#about .profile-desc img:hover {
  opacity: 1;
}

section#about .profile-desc div  {
  width: 50%;
  margin: 0 25px;
}

section#about .name-container i  {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 1.2em;
}

section#about .name-container {
  font-weight: bold;
  width: 130px!important;
  margin: auto auto 40px auto!important;
}

@media(max-width: 850px) {
  header h1 {
    font-size: 20px;
    letter-spacing: 6px;
  }
  section#about .profile-desc {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  section#about .profile-desc {
    width: 80%;
    justify-content: center;
  }
  section#about .profile-desc div {
    width: 100%;
    margin: 0;
  }
  section#about .profile-desc div:nth-child(2) p {
    display: none;
  }
  section#about .name-container {
    font-size: 18px;
  }
}

@media(max-width:500px) {
  header h1.mobile {
    display: initial;
  }
  header h1.large {
    display: none;
  }
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: initial;
  }
}
