* {
  font-family: Helvetica, sans-serif;   
}

body {
  margin: 0;
}

header {
  position: relative;
  top: -8px;
  left: -8px;
  width: 100vw;
  height: 100vh;
}

.building-bg {
  background-image: url("../images/architect.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  z-index: 1;
}

.nav-style {
  background: white;
  box-shadow: 3px 4px 3px rgba(0,0,0,0.4);
}

a {
  text-decoration: none;
  font-weight: 500;
  padding: 8px 16px;
  font-size: 16px;
}

.nav-a:hover {
  background: lightgray;
}

.nav-span {
  font-weight: bold;
  letter-spacing: 4px;
}

.nav-div {
  margin-top: 7px;
  padding: 15px 18px;
}

.home-nav {
  padding: 18px 25px!important;
}

.home-nav:hover {
  background: transparent!important;
  border-bottom: 2px solid lightgray;
}

.title-wrapper {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-55%,-55%);
  opacity: 0.95;
}

.title-display {
  float: left;
  color: white;
  font-weight: 500;
  font-size: 2.3em;
  padding: 8px 15px;
}

.title-h1 {
  margin: 0;
  letter-spacing: 2px;
  text-align: center;
}

.title-span {
  font-weight: bold;
  background: #222;
  padding: 8px 15px;
  opacity: 0.95;
}

.section-padding {
  padding: 40px 0;
}

.h1-container {
  padding-left: 16px;
  padding-bottom: 30px;
  margin-left: 15px;
  max-width: 95%;
}
  
.h1-container-heading {
  padding-bottom: 20px;
  border-bottom: 1px solid #f1f1f1;
  font-weight: 400;
}

.house-set {
  display: flex;
  width: 100%;
}

.house-set-imgs {
  width: 100%;
  height: auto;
}

.house-set-divs {
  position: relative;
  padding: 0 8px;
}

.house-name {
  position: absolute;
  top: 0;
  padding: 10px 15px;
}

.house-name-display {
  color: white;
  background: black;
}

.h1-container {
  padding-bottom: 0;
}

.openning-p {
  width: 95%;
  padding: 0 32px;
  line-height: 1.5;
  font-size: 20px;
}

.team-container {
  display: flex;
  padding: 25px 20px 0 20px;
  width: 95%;
}

.team-container-h1 {
  font-weight: 500;
}

.team-container-img {
  width: 100%;
  height: auto;
}

.team-container-div {
  padding: 8px;
}

.team-container-button  {
  padding: 8px 16px;
  width: 100%;
  font-size: 16px;
  text-transform: capitalize;
  outline: 0;
  border: none;
  vertical-align: middle;
}

.team-container-button:hover {
  cursor: pointer;
  background: lightgray;
}

.button-bg-white {
  background: #f1f1f1;
}

.contact-p {
  padding-left: 32px;
}

.contact-form {
  padding: 5px 0 20px 32px;
}

input:not([type="button"]) {
  width: 97%;
  font-size: 16px;
  padding: 15px 5px;
  outline: none;
}

.input-border {
  border: none;
  border-bottom: 1px solid lightgray;
}

.input-border:hover, .input-border:focus {
  border-bottom: 1px solid black;
}

input[type="button"] {
  display: block;
  width: 160px;
  font-size: 16px;
  border: none;
  border-radius: 0;
  margin-top: 20px;
  padding: 10px 15px;
}

.black-bg-style {
  background: black;
  color: white;
}

.input-button-style:hover {
  cursor: pointer;
  background: lightgray;
  color: black;
}

.gray-filter {
  filter: grayscale(75%);
}

footer {
  padding: 40px 0px;
  margin: 0;
  width: 100%;
  text-align: center;
}

.footer-a:hover, .footer-a:active {
  color: darkred;
  background: none;
}

@media(max-width: 690px) {
  .nav-a:not(.home-nav) {
    display:none;
  }
  .title-h1 {
    display: none;
  }
  .house-set {
    flex-wrap: wrap;
    justify-content: center;
  }
  .h1-container {
    padding-left: 0;
  }
  .openning-p {
    padding: 0 15px;
  }
  .team-container {
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
  }
}
