.bg-chi {
  background-image: url("../images/chicago.jpg");
}

.bg-la {
  background-image: url("../images/la.jpg");
}

.bg-ny {
  background-image: url("../images/ny.jpg");
}

header {
  position: relative;
  left: -8px;
  width: 100vw;
  min-height: 750px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 6.5em 0;
  text-align: center;
}

.caption-h2 {
  font-size: 2em;
  letter-spacing: 1.5px;
}

.caption-b {
  font-size: 1.25em;
}

.flex-ns {
  display: flex;
}

.flow-row {
  flex-flow: row wrap;
}

.flow-column {
  flex-flow: column wrap;
}

.show-all a {
  display: block;
}
.show-1 a:not(:first-child) {
  display: none;
}

nav {
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  text-transform: uppercase;
  overflow: hidden;
  z-index: 1;
}

.nav-style {
  background: black;
  box-shadow: 2px 5px 4px rgba(0,0,0,0.6);
}

.nav-link-margin {
  margin: 0 25px;
}

.nav-a {
  font-size: 1.2em;
  padding: 15px 20px;
  text-decoration: none;
  width: auto;
  border: none;
  outline: none;
}

.nav-a-hover:hover {
  background-color: lightgray;
  color: black;
  font-weight: bold;
}

button {
  display: inline-block;
  margin-top: 5px;
  padding: 12px 40px;
  outline: none;
  border: none;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  pointer-events: none;
}

.db-button-style {
  background: none;
  color: white;
}

.search {
  order: 1;
  position: absolute;
  right: 0;
  padding: 15px 20px;
}

.search-hover:hover {
  background: #f44336;
}

.dropdown-position {
  position:relative;
}

.dropdown-hover:hover{
  background: lightgray;
  color: black;
  cursor: pointer;
}

.db-options {
  position:fixed;
  padding: 0;
  margin: 0;
  min-width: 160px;
  overflow: hidden;
  z-index: 1;
}

.db-options-style {
  background: white;
  box-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

.db-options-a {
  margin: 10px 0 !important;
  text-align: center;
}


.mb-nav{
  margin-top: 10px;
}


.mb-nav-i {
  color: white;
  font-size: 2.2em;
  position: absolute;
  right: 1%;
  padding: 10px 20px;
}

.nav-i-hover:hover {
  background: lightgray;
  color: black;
  cursor: pointer;
}


.close-nav-i {
  bottom: 0;
}

/* The Band Section */

section {
  padding: 40px;
}

article {
  display: flex;
  width: 76.5%;
  margin: 10px auto;
}

.art-h2 {
 text-align: center;
 text-transform: uppercase;
 letter-spacing: 2px;
 font-size: 2em;
 font-weight: 400;
}

.sub-paragraph {
  font-weight: 200;
  font-size: 1.15em;
  text-align: center;
}

.art-paragraph {
  text-align: justify;
}

.band-members {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.band-member {
  margin: 10px 40px;
}

/* Tour Section */

.tour-section {
  position: relative;
  left: -8px;
  width: 100vw;
  padding: 80px 40px;
}

.dates {
  display: flex;
  flex-flow: column wrap;
  width: 80%;
  padding: 10px;
  margin: 45px auto;
  font-size: 14px;
}

.dates-style {
  background: white;
  border: 2px solid gray;
}

hr {
  border-top: 1px solid lightgray;
  width: 96%;
}

.dates-span {
  display: inline-block;
  padding: 5px;
}

.dates-span-sold {
  background: red;
  color: white;
}

.dates-span-fr {
  padding: 5px 10px;
  border-radius: 50%;
  float: right;
}

.dates-span-unsold {
  background: black;
  color: white;
}

.tickets {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  flex-wrap: nowrap;
}

.cards {
  margin: 0 10px;
}

.tickets-img {
  width: 100%;
}

.tickets-img-hover:hover {
  filter: brightness(50%);
}

.cards-p {
  width: 90%;
  margin: 20px auto;
}

.cards-button {
  outline: none;
  border: none;
  margin: 20px;
  pointer-events: all;
}

.cards-button-skin {
  background: black;
  color: white;
}

.cards-button-skin:hover {
  cursor: pointer;
  background: lightgray;
  color: black;
}

.contact-wrapper {
  display: flex;
  flex-flow: row wrap;
  max-width: 860px;
  margin: 25px auto;
  justify-content: space-between;
}

.contact-info-icons {
  margin-right: 15px;
  font-size: 1.5em;
}

.form-input {
  padding: 15px;
  width: 35%;
  margin-top: 4px;
  margin-left: 15px;
}

.form-message {
  display: block;
  width: 84.7%;
}

.form-button {
  width: 32%!important;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
  float: right;
}

.form-border {
  border: 1px solid black;
}

.button-style {
  background: black;
  color: white;
}

.button-style:hover {
  background: lightgray;
  color: black;
  cursor: pointer;
}

/* Mobile */
@media(max-width: 1330px) {
  .tickets {
    flex-direction: column;
    align-items: center;
  }

  .cards {
    background: white;
    margin: 10px;
  }
}

@media (max-width: 1050px) {
  section {
    padding: 40px 0px;
  }
  .tour-section {
    padding: 80px 0px;
  }
}

@media(max-width: 900px) {

  #extended-nav a {
    width: 50%!important;
  }

  .flex-ns a {
    width: 50%;
    margin: 10px 0!important;
  }
  .search {
    width: auto!important;
  }
}

@media(max-width:1024px) {
  header {
    min-height: 565px;
  }
}

@media(max-width: 650px) {
  .caption {
    display: none;
  }
  .tickets {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

@media(max-width: 550px) {
  .form-input {
    width:100%!important;
    margin-left: 0;
  }
}

@media(max-width:415px) {
  header {
    min-height: 300px;
  }
}
