* {
  font-family: Helvetica;
  margin: 0;
}

.list-display {
  display: list-item;
}

header {
  height: 100vh;
}

.parallax-bg-1 {
  background-image: url("../images/parallax1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.75;
}

.header-h1 {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px 24px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 10px;
  font-weight: 400;
  font-size: 24px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.mobile {
  display: none;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-a {
  display: inline-block;
  border: none;
  outline: none;
  padding: 16px;
  font-size: 16px;
  color: #8c8c8d;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-a:not(.search):hover {
  background: lightgray;
  color: black;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}

.search {
  float: right;
}

.search:hover {
  background: orangered;
  color: white;
}

.nav-fa {
  margin-right: 3px;
}

.mobile-nav {
  display: none;
}

.nav-toggle-i {
  position: absolute;
  right: 0;
  top: 13px;
  font-size: 1.5em;
  transition: all 0.3s ease-in-out;
}

.nav-toggle-i:hover {
  cursor: pointer;
  transform: scale(1.10);
  -webkit-transform: scale(1.10);
  -moz-transform: scale(1.10);
  -ms-transform: scale(1.10);
  -o-transform: scale(1.10);
}

.mobile-nav-li {
  list-style: none;
}

.mobile-nav-li:not(.home) {
  background: white;
}

.mobile-nav-a {
  width: 100%;
}

.mobile-nav-a:not([href="#home"]) {
  color: black !important;
}

.mobile-search {
  float: none;
  background: white;
}

section {
  color: #777;
  padding: 40px 0;
  line-height: 1.8;
}

.section-padding {
  padding-bottom: 0;
}

.about-h1 {
  padding: 20px 0;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
}

.sub-about {
  font-size: 14px;
  padding-bottom: 20px;
}

.paragraph-container {
  display: flex;
  flex-direction: column;
  max-width: 980px;
  padding-bottom: 40px;
  margin: auto;
  font-size: 15px;
}

.about-p {
  margin: 15px;
}

.profile-desc {
  display: flex;
  max-width: 980px;
  margin: auto;
  font-size: 15px;
}

.profile-desc-img {
  width: 100%;
  height: auto;
  opacity: 0.75;
}

.profile-desc-img:hover {
  opacity: 1;
}

.profile-desc-div {
  width: 50%;
  margin: 0 25px;
}

.name-container-i {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 1.2em;
}

.name-container {
  font-weight: bold;
  width: 130px !important;
  margin: auto auto 40px auto !important;
}

.skills-wrapper {
  max-width: 980px;
  margin: auto;
}

.skill-container {
  background: lightgray;
}

.skill-amounts {
  background: #616161;
  color: white;
  padding: 8px;
}

.skills {
  margin: 40px 0;
}

.skill-title {
  letter-spacing: 10px;
  font-size: 18px;
}

.skill-amount-1 {
  width: 90%;
}

.skill-amount-2 {
  width: 85%;
}

.skill-amount-3 {
  width: 75%;
}

.statistics {
  display: flex;
  font-weight: 300;
  justify-content: space-around;
  margin: 40px 0 0 0;
}

.statistics-style {
  background: #616161;
  color: White;
}

.statistics-div {
  min-width: 100px;
  padding: 24px 0;
}

.statistics-h2 {
  font-weight: 300;
}

.portfolio-section {
  padding: 0;
}

.parallaxed {
  position: relative;
  min-height: 400px;
}

.parallax-bg-2 {
  background-image: url('../images/parallax2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.75;
}

.parallaxed-h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 10px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.work-heading {
  margin: 60px 0 20px 0;
  font-weight: 400;
}

.click-instructions {
  margin-bottom: 40px;
}

.work-container {
  max-width: 980px;
  margin: auto;
}

.work-container-button {
  display: block;
  padding: 10px;
  width: 130px;
  margin: 10px auto 0 auto;
  font-size: 15px;
}

.button-gray-style {
  background: lightgray;
  color: black;
}

.button-gray-style:hover {
  cursor: pointer;
  background: gray;
  color: white;
}

.work-row {
  display: flex;
}

.work-row-div {
  width: 24.9999%;
  padding: 8px;
}

.work-row-img {
  width: 100%;
  max-height: 163px;
}

.work-row-img:hover {
  cursor: pointer;
  opacity: 0.75;
}

.image-overlay {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.overlay-i {
  position: absolute;
  top: 0;
  right: 2%;
  font-size: 2em;
  padding: 10px 16px;
}

.overlay-i:hover {
  cursor: pointer;
  background: lightgray;
  color: black;
}

.img-desc {
  text-align: center;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.parallax-bg-3 {
  background-image: url('../images/parallax3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.location-container {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.map-wrapper {
  width: 27.3333%;
  margin-right: 16px;
}

.grayscale {
  filter: grayscale(0.75);
  opacity: 0.75;
}

.contact-span {
  font-size: 18px;
  display: block;
}

.coffee-span {
  display: initial;
}

.contact-icons {
  font-size: 24px;
  margin-right: 16px;
}

.input-row {
  display: flex;
  margin-bottom: 8px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-input {
  flex-grow: 1;
  padding: 8px;
  font-size: 16px;
}

.form-input[name="Name"] {
  margin-right: 8px;
}

.message-input {
  margin-bottom: 15px;
}

.form-button {
  position: relative;
  left: 57%;
  font-size: 16px;
  text-transform: uppercase;
  width: 175px;
  padding: 10px;
  border: none;
  margin-right: 5px;
}

.button-i {
  margin-right: 5px;
}

.form-button:hover {
  cursor: pointer;
  background: lightgray;
  color: black;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: gray;
  color: white;
  width: 100%;
  height: 300px;
}

footer:hover {
  background: black;
}

.to-top {
  padding: 8px 16px;
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 1.1em;
  font-weight: 300;
}

.to-top-style {
  background: lightgray;
  border: none;
  outline: none;
}

.to-top-style:hover {
  cursor: pointer;
  background: #ccc;
}

.to-top-style:hover {
  cursor: pointer;
}

.footer-button-i {
  margin-right: 10px;
}

.social-footer {
  margin-bottom: 20px;
  font-size: 1.5em;
}

@media(max-width: 850px) {
  .header-h1 {
    font-size: 20px;
    letter-spacing: 6px;
  }
  .profile-desc {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .profile-desc {
    width: 80%;
    justify-content: center;
  }
  .profile-desc-div {
    width: 100%;
    margin: 0;
  }
  .desc-paragraph {
    display: none;
  }
  .name-container {
    font-size: 18px;
  }
}

@media(max-width: 625px) {
  section#portfolio {
    padding-left: 8px;
    padding-right: 8px;
  }
  section#portfolio .work-row {
    flex-direction: column;
  }
  section#portfolio .work-row div {
    width: 100%;
    padding: 0;
  }
  section#portfolio .work-row img {
    max-height: none;
    height: auto;
  }
  .location-container {
    flex-direction: column;
    width: 95%;
    justify-content: center;
  }
  .map-wrapper {
    width: 70%;
    margin-bottom: 25px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width:500px) {
  header h1.mobile {
    display: initial;
  }
  header h1.large {
    display: none;
  }
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: initial;
  }
  section#about .statistics {
    flex-direction: column;
  }
}