header {
  position: relative;
  top: -8px;
  left: -8px;
  width: 100vw;
  height: 100vh;
}

.burger-bg {
  background-image: url("../images/hamburger.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  padding: 18px;
  justify-content: space-between;
  z-index: 1;
}

.nav-style {
  background: white;
  box-shadow: 3px 4px 3px rgba(0,0,0,0.4);
}

.nav-a {
  text-decoration: none;
  font-family: Georgia, Serif;
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 4px;
  margin-right: 20px;
  padding: 8px 16px;
}

.home-nav {
  padding: 0 0 2px 0!important;
}
.home-nav:hover {
  background: transparent!important;
  border-bottom: 2px solid #999;
}

.nav-a:hover {
  background: lightgray;
}

.header-h1 {
  position: absolute;
  left: 2%;
  bottom: 0;
  font-family: Georgia, Serif;
  font-size: 2.2em;
  font-weight: 300;
}

.header-gray {
  color: #555;
}

section {
  padding: 40px;
  margin-top: 40px;
}

.img-container {
  width: 100%;
}

.tableset-img {
  max-width: 600px;
  height: auto;
  filter: opacity(0.75);
}

.container-large {
  display: flex;
  justify-content: space-between;
}

article {
  margin: 20px;
  width: 100%
}

hr {
  margin: 80px 0;
  border-top: 0;
}

.hr-border{
  border: 1px solid #f1f1f1;
}

.article-h1 {
  font-size: 2.3em;
  font-family: Georgia, serif; 
  font-weight: 300;
  letter-spacing: 4px;
  text-align: center;
}

.article-h3 {
  font-weight: 400;
  letter-spacing: 4px;
}

.highlight-padding {
  padding: 2px 5px;
}

.highlight-gray {
  background: #f1f1f1;
}

.contact-section {
  font-family: Georgia, serif !important;
}

.contact-h1 {
  font-weight: 400;
  font-size: 2.5em;
  margin-bottom: 50px;
  letter-spacing: 2px;
}

.large-blue-txt {
  color: #607d8b;
  font-size: 20px;
}

input {
  border: none;
  margin-bottom: 10px;
  width: 100%;
  padding: 25px;
  font-size: 14px;
  outline: none;
}

.input-color {
  border-bottom: 1px solid #777;
}

input:focus {
  border-bottom: 1px solid limegreen;
}

.input-button {
  padding: 15px;
  width: auto;
  background: lightgray;
}

.input-button:hover {
  cursor: pointer;
  border-bottom: 1px solid limegreen;
}


/* Mobile */

@media( max-width: 1040px ) {
  header {
    background-position-x: 31%;
  }
  .container-large {
    flex-direction: column;
  }
  
}

@media(max-width: 800px) {
  section {
    padding: 0;
  }

  .tableset-img {
    max-width: 100%;
    min-width: 200px;
  }
}

@media(max-width: 690px) {
  section {
    padding: 0;
  }
  nav>div {
    display: none;
  }

  article {
    margin: 20px;
  }
  input:not([type="button"]) {
    padding: 25px 0;
  }
}
