* {
    font-family: Helvetica, sans-serif;
}

body {
    background: #f1f1f1;
}

h1 {
    font-weight: 400;
}

h3 {
    font-size: 16px;
    font-weight: 300;
}

header {
    padding: 20px 20px 40px;
    text-align: center;
}

.by-span {
    padding: 2px 8px;
}

.--commented {
    border-radius: 50%;
}

.blog-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 32px;
    width: 100%;
    margin: auto 28px;
}

.blog-container {
    position: relative;
    margin-bottom: 32px;
}

.card-shadow {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.blog-title, .blog-title-desc {
    margin-left: 15px;
}

.blog-title-desc {
    font-weight: 300;
    font-size: 18px;
}

.blog-preview {
    width: 80%;
    margin-left: 15px;
    margin-right: auto;
    font-weight: 300;
}

.blog-img {
    width: 100%;
    height: auto;
}

.read-more {
    padding: 15px;
    margin: 15px;
    font-size: 16px;
    font-weight: 300;
}

.read-more:hover {
    cursor: pointer;
    background: lightgray;
}

.comments {
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/* Aside */
.blog-aside{
    display: grid;
    grid-template-rows: 37% 31.5% 19%;
    grid-row-gap: 42px;
    margin-right: 55px;
}

.name-container {
    padding-bottom: 10px;
}

.bio {
    width: 90%;
    font-size: 17px;
}

.author {
    font-weight: 400;
}

.aside-card {
    padding: 8px 20px;
}

.card-title {
    font-weight: 300;
    font-size: 1.3em;
}

.s-thumbnail {
    width: 50px;
    margin-left: 16px;
    margin-right: 10px;
    vertical-align: middle;
    float: left;
}

.post-display {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.post-display:hover {
    cursor: pointer;
    background: lightgray;
}
.post-title, .post-desc {
    margin: 5px 0;
}
.post-title {
    font-size: 18px;
}

.post-desc {
    font-weight: 300;
}


/* Tags */

.span-container {
    padding: 8px 13px;
}

.tag {
    display: inline-block;
    font-size: 12.5px;
    font-weight: 300;
    text-align: center;
    padding: 0 6px;
    margin-bottom: 20px;
}

.active {
    font-size: 14px;
    padding: 5px 8px;
}

/* Media */
@media (max-width: 1200px) {
    .blog-aside {
        grid-template-rows: 37% 33.5% 21%;
    }    
}

@media (max-width: 992px) {
    .blog-section {
        grid-template-columns: 98%;
        margin: auto 10px;
    }
    .blog-aside {
        margin-right: 0;
    }
}